body,html{
margin:0px;
padding:0px;
}
#maket{
width:800px;
margin:0 auto;
}
#header{
background-color:#0c0;
}
#left{
background-color:#c0c000;
width:200px;
float:right;
}
#right{
background-color:#c0c000;
width:200px;
float:left;
}
#content{
background-color:#8080ff;
margin-right:202px;
margin-left:202px;
}
#footer{
background-color:#ffc0ff;
clear:both;
}